{"filter":false,"title":"django.config","tooltip":"/django/.ebextensions/django.config","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":7,"column":0},"action":"insert","lines":["option_settings:","    aws:elasticbeanstalk:container:python:","        WSGIPath: bicycle_project.wsgi:application","    aws:elasticbeanstalk:environment:proxy:staticfiles:","        /static: static","    aws:autoscaling:launchconfiguration:","        DisableIMDSv1: true",""],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":0},"end":{"row":7,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1733968921832,"hash":"0bbc36b3752086d42377a01dcd6e3fe8bd634535"}